body {
    font-family: 'Arial', sans-serif;
    background-color: #d2b48c; /* レトロな茶色 */
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #d2b48c; /* レトロな茶色 */
}

section {
    margin-bottom: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #333;
}

section p {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 画像とテキストを両端に配置 */
}

section p img {
    margin-right: 10px; /* 画像とテキストの間のスペース */
    width: 480px; /* 画像の幅を固定 */
    height: 320px; /* 画像の高さを固定 */
    object-fit: cover; /* 画像が枠内に収まるように調整 */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}
